.navbar {
  @apply flex flex-row items-start gap-2.5 absolute w-full h-[69px]  pl-[73px] pr-[39px] py-2.5 left-0 top-[25px];
  background: #e0e0e0;
}
.swap-logo {
  @apply flex-none order-none grow-0;
}
.menu {
  @apply mr-7 pl-[9rem] flex justify-center items-center w-[100%] text-black justify-between not-italic font-semibold text-xl bg-none;
  font-family: "Lato";
}

li {
  @apply ml-[4rem];
}

.about {
  @apply pl-5;
}
.download-btn {
  @apply ml-[16rem] flex flex-row justify-around  gap-2.5 text-white flex-none order-2 grow-0 p-[10px] rounded-[15px];
  background: #05a3a3;
}
.download-btn2 {
  @apply flex flex-row justify-center items-center gap-2.5 text-white flex-none order-2 grow-0 px-[10px] py-2 rounded-[15px];
  background: #05a3a3;
}
